<div nz-row>
  <div nz-col nzFlex="200px">
    <img
      nzDisablePreview
      nz-image
      width="180px"
      height="48px"
      nzSrc="assets/logo.png"
      alt=""
      class="header-logo"
    />
  </div>
  <div nz-col nzFlex="auto">
    <div nz-row>
      <div nz-col>
        <span
          class="header-trigger"
          nz-icon
          [nzType]="collapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="collapsed = !collapsed"
        ></span>
      </div>
      <div nz-col>
        <ul nz-menu nzMode="horizontal" class="header-menu">
          <li nz-menu-item *ngFor="let menu of menus">
            <span nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></span>
            {{ menu.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div nz-col>
    <nz-space nzSize="small">
      <nz-avatar
        nzIcon="user"
        nz-dropdown
        nzTrigger="hover"
        [nzDropdownMenu]="menu"
      ></nz-avatar>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>1st menu item</li>
          <li nz-menu-item>2nd menu item</li>
          <li nz-menu-item>3rd menu item</li>
          <li nz-menu-item nzDanger>4th danger item</li>
        </ul>
      </nz-dropdown-menu>
    </nz-space>
  </div>
</div>
