.layout {
  height: 100%;
}

nz-header {
  position: fixed;
  width: 100%;
  background: #1976d2;
  padding: 0;
  line-height: 56px;
  height: 56px;
}

.content-layout {
  margin-top: 56px;
}

nz-sider {
  /* float: left; */
  overflow: auto;
  overflow-x: hidden;
}

.inner-layout {
  background: #fff;
  overflow: auto;
}

.main-layout {
  overflow: auto;
}

nz-breadcrumb {
  margin: 12px;
}

nz-content {
  background: #fff;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  min-height: 380px;
}
